body {
    // 移动端overflow: hidden无效，需要加上fixed，absolute都不行
    position: fixed;
    top: 0;
    left: 50%;
    box-sizing: border-box;
    overflow: hidden;
    color: #000;
    font-size: 32px;
    transform: translateX(-50%);
    -webkit-font-smoothing: antialiased;
}

/*
 * flex相关
 */
.flex {
    display: flex;
    .flex-1 { flex: 1; }
}
.inline-flex { display: inline-flex; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-end { justify-content: flex-end; }
.align-center { align-items: center; }
.flex-dir-column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }



/*
 * margin相关
 */
$i: 10;

@while $i <= 100 {
    @each $name, $item in (mt, top),
        (mr, right),
        (mb, bottom),
        (ml, left) {
        .#{$name}-#{$i} {
            margin-#{$item}: (1px * $i) !important;
        }
    }
    $i: $i + 10;
}


/**
 * 半透明遮罩层
 */
.m-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);

    // 全透明效果
    &.m-mask-trans {
        background: none;
    }

    // 全黑
    &.m-mask-black {
        background-color: rgba(0, 0, 0, 0.9);
    }
}


/**
 * 过渡动画，已运用于浮层popup类的组件，比如dialog
 */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
    opacity: 1;
}

.page-space {
    margin-right: 32px;
    margin-left: 32px;
}
