body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PingFangSC-Regular', 'Helvetica Neue', serif; // 移动端字体，最符合设计要求
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
    user-select: none; // 不选中文字
    -webkit-touch-callout: none; // 禁止长按菜单，自己加-webkit-，webpack不会帮我们加
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 一定要自己加-webkit-，webpack不会帮我们加
}

div,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
header,
input,
nav,
p,
form,
button,
pre,
aside,
section,
article,
canvas,
td,
th,
ul,
ol,
li,
img {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ol,
ul,
li {
    list-style: none;
}

div,
button {
    box-sizing: border-box;
}

button {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    &:focus {
        outline: none;
    }
}

textarea {
    resize: none;
}

input,
textarea {
    font-size: 32px;
    border: none;
    -webkit-appearance: none !important; // 清楚ios阴影
    -moz-appearance: none !important;
    -webkit-tap-highlight-color: rgba(141, 87, 87, 0);

    /* input为number时，在机子上显示上下箭头，去掉 */
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
    }

    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
}
